
@{
    ViewBag.Title = "AltaProductos";
}

<h2>AltaProductos</h2>

<form action="/productos/AltaProductos" method="post">

    <input type="text" name="nombre" value="" />
    <input type="text" name="peso" value="" />
    <input type="text" name="precio" value="" />
    <input type="text" name="tipo" value="" />
    <button type="submit">Alta</button>

</form>
